{% extends "plantillas/base.twig" %}

{% block titulo %}Aplicación de Repositorio{% endblock  %}

{% block stylesheets %}
    {{parent()}}

<link rel="stylesheet" href="{{ constant('APP_URL') }}assets/css/aplicacion.css">
 
{% endblock %}

{% block contenido %}
    
    <div class="contenedor">
        <header class="header">
            <nav class="nav">
                <span class="menu-open icono-grande" id="btn-menu-open">
                    <i class="fe fe-list-bullet"></i>
                </span>
                <span class="nav-toggle icono-grande" id="btn-nav-toggle">
                    <i class="fe fe-bar"></i>
                </span>
                <ul class="nav-links lista-links" id="nav-links">
                    <li><a href="{{ path_for('inicio') }}">Inicio</a></li>
                    <li><a href="#">Contactos</a></li>
                    <li><a href="#">Nueva actividad</a></li>
                    <li><a href="#">Nueva actividad</a></li>
                </ul>
            </nav>
        </header>
        <div class="menu" id="menu-lateral" data-url="{{ path_for('aplicacion.actividades')}}">
            <span class="menu-close" id="btn-menu-close">
                <i class="fe fe-close"></i>
            </span>
            <ul class="menu-links lista-links" id="menu-links">
                <li><a href=""> Esquemas</a></li>
                <li><a href="">Herramientas</a></li>
                <li><a href="">Contenido</a></li>
                <li><a href="">Información</a></li>
                <li><a href="">Ayuda</a></li>

            </ul>
        </div>
        <section class="main">
            <div class="instruccion">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium laudantium ipsa nemo quidem quia ab deleniti nam animi labore, excepturi aliquid ducimus ut cum, a dolor dicta quibusdam, ratione dolorem!</p>
            </div>
            <div class="contenedor-iframe">
                <iframe id="iframe" name="main-iframe" src="https://angular.io"></iframe>
            </div>
        </section>
        {% include "fragmentos/footer.twig" %}
    </div>
{% endblock  %}

{% block javascripts %}
 {{parent()}}
    <script src="{{ constant('APP_URL') }}assets/js/aplicacion.js"></script>
{% endblock  %}